@import '../../assets/scss/variables.scss';

.books {
  &__title {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 2rem;

    h1 {
      display: block;
      margin: auto;
      text-align: center;
    }

    input {
      position: relative;
      top: 2rem;
      right: 0;
      padding: 0.5rem 1rem;
      margin-bottom: 1rem;
      border-radius: 0.4rem;
    }

    @media screen and (min-width: $md) {
      input {
        position: absolute;
        right: 3rem;
        margin-bottom: 0;
      }
    }
  }
}
