@import '../../assets/scss/variables.scss';

.loading {
  color: $color-black;

  &::after {
    content: 'Loading';
    animation: load 2s linear infinite;
  }
}

@keyframes load {
  0% {
    content: 'Loading';
  }
  33% {
    content: 'Loading.';
  }
  67% {
    content: 'Loading..';
  }
  100% {
    content: 'Loading...';
  }
}
